// Keeping Atom-Panda-Syntax color variables - Using original Web Colors

@light-midnight:  dimgray; // color for comments
// grays
@very-dark-gray:  lighten(black, 13%); // 13% = #212121 / 12% = #1f1f1f
@dark-gray:       darken(darkslategray, 10%);
@gray:            darkslategray;
@light-gray:      darkgray;
@lighter-gray:    silver;
@very-light-gray: gainsboro;
@white:           white;
// blues
@blue:            lighten(dodgerblue, 5%);
@purple:          mediumpurple;
@light-blue:      lightskyblue;
// reds
@red:             lighten(red, 15%);
// oranges
@orange:          mix(gold, darkorange);
@light-orange:    gold;
// pinks
@pink:            lighten(mediumvioletred, 20%);
@light-pink:      lighten(hotpink, 10%);
// greens
@green:           fade(mediumspringgreen, 85%);
